<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<h1 th:text="${message}">Header</h1>
<div th:replace="fragments/header"/>

<div>
    <span th:text="(${students.size()} < 5) ? ('SMALL') : ('BIG')"></span>
</div>
<br/>
teacher is: [[(${tutor.working}) ? ('Active') : ('Inactive')]]
<br/>

<div th:if="${status == null}">
    <span> status is null</span>
</div>


<div th:switch="${tutor.working}">
    <p th:case="true">Tutor is active</p>
    <p th:case="false">Tutor is not active</p>
    <p th:case="*">Tutor is some other thing</p>
</div>

<h2 th:text="${tutor.id}">Id</h2>
<h2 th:text="${tutor.name}">Name</h2>

<h3 th:text="${students[2].last}"></h3>

<ul>
    <li th:each="student: ${students}" th:text="|Student full name is ${student.first} ${student.last}|">Student</li>
</ul>


<span th:each="student: ${students}">
      <a th:href="@{/student/{id}(id=${student.id})}">
        <span th:text="(${#strings.length(student.last)} > 6) ? ('LONG') : ('SHORT')"></span>
        <span th:text="${student.last}"/>
        <span th:text="(${  #strings.endsWith(student.last, 'a')   }) ? ('F') : ( 'M' )"></span>
        <span th:text="(${ student.age} > 25) ? ('аспирант') : ('студент')"></span>
       Change </a><br/>
    <!--
     если человеку больше 25 лет то возвращайте 'аспирант' в другом случае 'студент'
    -->
        <br/>
    </span>


<a th:href="@{/teacher(id=${tutor.id}, name=${tutor.name})}">Link to a teacher</a><br/>


<div th:replace="fragments/footer"/>

</html>